<nav class="grey darken-3">
   <div class="nav-wrapper container">

      <a href="" class="brand-logo center">User Posts</a>
      <a href="" data-target="mobile-demo" class="sidenav-trigger show-on-large"><i class="fas fa-bars"></i>
         <ul class="sidenav" id="mobile-demo">
            <li><a href="/posts">Public Posts</a></li>
            <li><a href="/dashboard">Dashboard</a></li>
            <li><a href="/auth/logout">Logout</a></li>

         </ul>
   </div>
   Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit aliquid temporibus ut id nam nihil sapiente quo
   blanditiis at nisi dolores natus quos non facilis autem vitae, officiis, debitis dolorum.
   Dolores sapiente, quo fugit repudiandae aut asperiores impedit corporis magni atque sit ipsum vitae doloribus
   voluptatibus similique dolor sed ratione nulla sequi optio ad adipisci porro. Cupiditate atque quidem dolor?
   Illo itaque qui excepturi delectus, ab tempore necessitatibus sed sunt recusandae dolorem consequuntur aliquam
   reprehenderit neque! Cum officiis consequatur et natus, ullam tenetur fugit optio ad nihil omnis tempora eius.
</nav>